.text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text h2 {
  margin-bottom: 2rem;
}

.text p {
  width: 50%;
}

.button {
  width: 200px;
}

@media (max-width: 768px) {
  .text p {
    width: 100%;
  }
}
