.image {
  width: 70%;
  background-position: center;
  background-size: cover;
  margin-left: 5rem;
}

.image img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .image {
    width: 100%;
    margin: 0;
    display: none;
  }
}
