.socialMedia i {
  font-size: 2rem;
  color: var(--lightblue);
  transition: 100ms ease-out;
}

.socialMedia li {
  margin: 0;
  padding: 0;
}

.socialMedia a {
  padding: 0;
  margin: 0 5px;
}

.socialMedia i:hover {
  color: var(--color);
}
