.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.text h1 {
  line-height: 0.5;
  margin-bottom: 50px;
  font-size: 4.5rem;
}

.text p {
  margin-top: 10px;
}

.text span {
  color: var(--color);
  background-color: transparent;
}
