.welcome {
  height: 87vh;
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lightgrey);
  border-radius: 0 0 50px 0;
}

.content {
  display: flex;
  width: 60%;
}

.welcome span {
  content: "";
  width: 4000px;
  height: 1px;
  background: #e3e2ef;
  margin-right: 40px;
}

.welcome ul {
  position: absolute;
  bottom: 100px;
  right: 160px;
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
}

.welcome i {
  font-size: 2rem;
  color: var(--primary);
  margin-right: 10px;
}
