.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding8) 1.5rem;
  border-radius: 100px 0 0 0;
}

.text h3 {
  color: var(--color);
}

.text {
  margin-right: 8rem;
  width: 60%;
}

.content {
  display: flex;
  margin: auto;
  width: 60%;
}

.formButton {
  cursor: pointer;
  margin-top: 3rem;
  position: relative;
  background: var(--color);
  color: var(--white);
  text-transform: initial;
  font-size: 18px;
  letter-spacing: 0.4px;
  border-radius: 10px;
  box-shadow: none;
  width: 220px;
  padding: 19px 30px;
  text-align: left;
  align-items: center;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  border: 0;
}

.formButton i {
  font-size: 18px;
  color: var(--white);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.email {
  margin-top: 3rem;
}

.message {
  margin-top: 3rem;
}

.input input {
  border: none;
  outline: none;
  background-color: var(--white);
  text-decoration: none;
  padding: 0 0 1rem 0;
  margin: 0;
  width: 700px;
  border-bottom: 1px solid #e3e2ef;
  font-size: 18px;
  line-height: 22px;
  font-family: "SB-Eina01", sans-serif;
}

.message textarea {
  border: none;
  background-color: var(--white);
  outline: none;
  text-decoration: none;
  height: 250px;
  width: 700px;
  border-bottom: 1px solid #e3e2ef;
  font-size: 18px;
  line-height: 22px;
  font-family: "SB-Eina01", sans-serif;
}

.contact li {
  display: flex;
  align-items: center;
}

.contact p {
  font-size: 1.3rem;
}

.contact i {
  color: var(--color);
  margin-right: 10px;
}

.contact {
  padding: 0;
}

@media (max-width: 768px) {
  .name,
  .email,
  .subject,
  .message {
    width: 80%;
  }
  .formWrapper {
    margin: auto;
    width: 100%;
  }
  .input input {
    padding: 1rem;
    width: 90%;
  }
  .message textarea {
    height: 120px;
    padding: 1rem;
    width: 90%;
  }
}
