.what {
  display: flex;
  justify-content: center;
  padding: var(--padding8) 1.5rem;
  position: flex;
  flex-direction: column;
  background-color: var(--lightgrey);
  border-radius: 100px 0 0 100px;
  margin-left: 5rem;
}

.content {
  display: flex;
  margin-right: 5rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.title h1 {
  margin-bottom: 10px;
}

.title p {
  width: 65%;
  margin: auto;
}

.title h3 {
  color: var(--color);
}

.icons {
  padding-top: var(--padding8);
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem 0 4rem;
}

.npm i {
  color: #cc3534;
  font-size: 6rem;
}
