.header {
  background-color: var(--lightgrey);
  display: flex;
  height: 120px;
  width: 100%;
  align-items: center;
}

.content {
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
}

.content ul {
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
}

.content li {
  list-style: none;
}

.content a {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 20px;
  color: var(--lightblue);
  margin: 0;
  background: none;
  padding: 0 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 100ms ease-out;
}

.content a:hover {
  color: var(--color);
}

@media (max-width: 768px) {
  .content ul {
    display: none;
  }
  .content {
    width: 80%;
    margin: 0;
  }
  .content a {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .content {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .content ul {
    display: none;
  }
  .content {
    width: 100%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .content ul {
    display: none;
  }
  .content {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}
