.projects {
  padding: var(--padding8) 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects h3 {
  color: var(--color);
}
