.content {
  display: flex;
  width: 50%;
  align-items: center;
  margin: auto;
}

.about {
  flex-direction: column;
  padding: var(--padding8) 1rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .about {
    text-align: center;
  }
}
