.content {
  display: flex;
  width: 50%;
  align-items: center;
  margin: auto;
}

.about {
  flex-direction: column;
  padding: var(--padding8) 1rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .about {
    text-align: center;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .content {
    width: 90%;
  }
  .about {
    padding: var(--padding8) 2rem 0 2rem;
  }
}

@media only screen and (min-width: 800px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .content {
    width: 100%;
  }
  .about {
    padding: var(--padding8) 2rem 0 2rem;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .content {
    width: 80%;
  }
  .about {
    padding: var(--padding8) 2rem 0 2rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .content {
    width: 90%;
  }
  .about {
    padding: var(--padding8) 2rem 0 2rem;
  }
}

/* For 1366 Resolution */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .content {
    width: 80%;
  }
  .about {
    padding: var(--padding8) 2rem 0 2rem;
  }
}
